{% extends "layout.html" %}

{% set active_page = "home" %}

{% block title %}Home{% endblock %}

{% block content %}
    <!--page content-->
    <h1>Home Page</h1>

  <body>

    <p><a href="https://www.economy.com/support/blog/buffet.aspx?did=336CB3A4-3349-42CD-8D49-8D071EBFDA2D#:~:text=The%20Davis%2DHaltiwanger%2DSchuh%20(,shocks%20from%20distorting%20net%20growth.">
      The Buisness Dynamics Statistics (BDS)</a> is a data sample pertaining,
     but not limited to the measures of buisness openings and closings,
     job creation and degeneration by firm size, age, and industrial field.
     As the job market churnes throughout the years and firms come and go,
      it is important for any investor to have insight to the indicators of a
    firm that is statistically unstable. The BDS includes annual stats on
     job gains and losses for the entire economy and by industrial
     field, state, and <a href="https://ironcladapp.com/journal/contracts/what-is-an-msa/">
       master services agreement (MSA)</a> from 1978 to 2018. Compiling all
       this data, the BDS makes
      for a clear indicator of economic growth, stability, or downfall.The data
      sheet is specific to state, year, DHS denominator, number of firms,
      net job creation, number of firms, <a href="https://voxeu.org/article/labour-market-reallocation-wake-covid-19#:~:text=1%20The%20excess%20job%20reallocation,a%20percentage%20of%20total%20employment.">
        reallocation rate</a>, and
      <a href="https://think.cs.vt.edu/corgis/json/business_dynamics/">more</a>.
     </P>



  </body>


{% endblock %}
