{% extends "layout.html" %}

{% set active_page = "page1" %}




{% block title %}Page 1{% endblock %}

{% block content %}
    <!--page content-->
    <h1>Page 1</h1>

<form action = "p2">

    <label for="State">State:</label>
  <select id="State" name="statelist">
    {{options}}

  </select>

    <label for="Year">Year:</label>
  <select id="Year" name="yearlist">
    {{options2}}
  </select>

    <label for="Value">Etablishments:</label>
  <select id="Value" name="Elist">
    {{options4}}
  </select>

<input type="submit" value="Submit">


</form>

<h3>
  {{options3}}
  </h3>



{% endblock %}
